@{
    ViewBag.Title = "微信测试";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        微信测试
        <small>微信测试</small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-wechat"></i> 获取Token
                </button>
                <button type="button" class="btn btn-success">
                    <i class="fa fa-wechat"></i> 更新Token
                </button>
            </h3>

        </div>
        <div class="box-body">
            复制此页面进行网站建设
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            底部
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->